    html{
        scrollbar-gutter: stable both-edges;
    }

    h1{
        text-align: center;
        color: rgb(255, 255, 255);
        margin-left: 100px;
    }
    
    nav{
        position: sticky;
        top: 0px;
        background-color: rgb(25, 25, 64);
        width: 1200px;
        height: 80px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        list-style: none;
        background-color: rgb(25, 25, 64);
        height: 50px;
        width: 700px;
        gap: 50px;
        padding: 0;
        margin-left: 200px;
        
    }


    
    li a{
        background-color: rgb(25, 25, 64);
        color: white;
        text-decoration: none;
        display: block;
        text-align: center;
        padding: 15px;
        width: 100px;
        border-radius: 5px;
        transition: background-color  ease-in-out 0.5s,color ease-in-out 0.5s;
        
    }
    
    li a:hover{
        background-color:white;
        color: rgb(25, 25, 64);
    }



