h2{
    justify-self: center;
}

.container{
    display: flex;
    flex-direction:row;
    width: 100%;
    background-color: none;
    justify-content: space-between;
}

.educationTextContainer{
    width: 50%;
    border-right: 3px solid black;
    
}

.educationP{
    text-align: justify;
    text-align-last: center;
    width: 60%;
    margin: auto;
}



h3{
    justify-self: center;
}

img{
    width: 200px;
    height: 400px;
}

.personalTextContainer{
    width: 50%;
}

.personalP{
    width: 60%;
    text-align: justify;
    text-align-last: center;
    margin: auto;
}


